/* .App { */
/*   text-align: center; */
/* } */

iframe
{
    display: none;
}

html {
	background-color: #000;
	color: white;
	height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
	color: #4793DA;
}

.center-screen {
	/* position: absolute; */
	/* justify-content: center; */
	/* align-items: center; */
	/* text-align: center; */
	/* top: 45%; */
	/* left: 40%; */
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* If you want the text within the elements to also be centered */
	font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
		Menlo, Consolas, monospace;
}

.disconnect {
	color: #FFF;
	text-decoration: underline;
}

.disconnect:hover {
	background: #4793da;
}


.center-screen-button {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
	font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
		Menlo, Consolas, monospace;
}
/* .App-logo { */
/*   height: 40vmin; */
/*   pointer-events: none; */
/* } */

/* @media (prefers-reduced-motion: no-preference) { */
/*   .App-logo { */
/*     animation: App-logo-spin infinite 20s linear; */
/*   } */
/* } */

/* .App-header { */
/*   background-color: #282c34; */
/*   min-height: 100vh; */
/*   display: flex; */
/*   flex-direction: column; */
/*   align-items: center; */
/*   justify-content: center; */
/*   font-size: calc(10px + 2vmin); */
/*   color: white; */
/* } */

.connected {
	display: block;
	color: #FFF;
}

.tweetPackage {
	display: block;
}


.tweetPackageElement {
	color: #fff;
	text-decoration: none;
}
.tweetPackageElement:hover {
	background: #4793da;
}

.submit {
	display: block;
}

::placeholder {
	font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
		Menlo, Consolas, monospace;
}

input {
	font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
		Menlo, Consolas, monospace;
}

/* placeholder-shown */

.content {
	position: absolute;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 350px;
	top: 80%;
	left: 0%;
}

/* .App-link { */
/*   color: #61dafb; */
/* } */

/* @keyframes App-logo-spin { */
/*   from { */
/*     transform: rotate(0deg); */
/*   } */
/*   to { */
/*     transform: rotate(360deg); */
/*   } */
/* } */

.inputtext {
	padding: 0.6em 2em;
	border: none;
	outline: none;
	margin: 15px;
	height: 33px;
	color: rgb(255, 255, 255);
	background: #202020;
	/* cursor: pointer; */
	position: relative;
	z-index: 0;
	border-radius: 10px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-84 {
	padding: 0.6em 2em;
	border: none;
	outline: none;
	height: 50px;
	color: rgb(255, 255, 255);
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
		Menlo, Consolas, monospace;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #4793da;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
    Menlo, Consolas, monospace;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #FFFFFF,
    #F2F3F2,
		#DEDEDE,
		#C9CAC9,
		#B5B5B5,
		#A0A1A0,
		#8C8C8C,
		#ECECEB,
		#E5E6E4
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
    Menlo, Consolas, monospace;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #4793da;
  left: 0;
  top: 0;
  border-radius: 10px;
  font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
    Menlo, Consolas, monospace;
}

.button-86 {
  padding: 0.6em 2em;
  border: 1px solid white;
  outline: none;
  color: rgb(255, 255, 255);
  background: #202020;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
	font-family: 'SF Mono', SFMono-Regular, ui-monospace,
    'DejaVu Sans Mono', Menlo, Consolas, monospace;
}
